@model WebTareas.Models.TaskInfo

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="~/css/Styles.css" rel="stylesheet" type="text/css"/>
        <title>Home | Tasks Organizer</title>
    </head>
    <body>
        <div class="container">
            <header class="row">
                <h2 class="text-center">Tasks Organizer</h2>
            </header>

            <div class="row m-4">
                <section class="col-4 p-2">
                    <div class="row">
                        <h4 class="text-center">Modify or Add new task</h4>
                    </div>

                    <div class="row">
                        @using (Html.BeginForm("NewTask", "TaskOrganizer"))
                        {
                            @Html.LabelFor(m => m.Id, "Task #", new { @class = "form-label" })
                            @Html.DisplayFor(m => m.Id)<br />
                            @Html.LabelFor(m => m.Name, "Name", new { @class = "form-label" })<br />
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })<br />
                            @Html.LabelFor(m => m.Description, "Description", new { @class = "form-label" })<br />
                            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })<br /><br />
                            <input type="submit" value="Add/Modify task"  class="btn btn-primary"/>
                        }
                    </div>

                    <div class="row form-text text-danger">
                        @Html.ValidationSummary()
                    </div>
                </section>

                <section class="col-4 p-2">
                    <div class="row">
                        <h4 class="text-center">To do</h4>
                    </div>

                    <div class="row p-3">
                        @if (Model.OngoingTasks.Count > 0)
                        {
                            <table class="table">
                                @foreach (var task in Model.OngoingTasks)
                                {
                                    <tr class="table-primary">
                                        <th>#@task.Id  @task.Name</th>
                                    </tr>

                                    <tr class="table-light">
                                        <td>@task.Description</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>

                <section class="col-4 p-2">
                    <div class="row">
                        <h4 class="text-center">Completed</h4>
                    </div>

                    <div class="row p-3">
                        @if (Model.CompletedTasks.Count > 0)
                        {
                            <table class="table">
                                @foreach (var task in Model.CompletedTasks)
                                {
                                    <tr class="table-primary">
                                        <th>#@task.Id  @task.Name</th>
                                    </tr>

                                    <tr class="table-light">
                                        <td>@task.Description</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>