@model WebTareas.Models.IndexLogin

@{
    ViewBag.Title = "Login | Task Organizer";
}

<div class="container vh-100">
    <div class="row justify-content-center pt-5">
        <header>
            <div>
                <h2 class="text-center fw-bold">To Do List</h2>
            </div>
        </header>

        <div class="row w-50">
            @using (Html.BeginForm("Login", "Home"))
            {
                @Html.LabelFor(m => m.User, "User", new { @class = "form-label" })<br />
                @Html.EditorFor(m => m.User, new { htmlAttributes = new { @class = "form-control" } })
                <br /><br />
                @Html.LabelFor(m => m.Password, "Password", new { @class = "form-label" })<br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.HiddenFor(m => m.Attempts)
                <br /><br />
                
                <input type="submit" value="Login" class="px-5 btn"/>
            }
        </div>

        <div class="row form-text text-danger">
            @Html.ValidationSummary()
        </div>
    </div>
</div>